.form input {
  width: 160px;
  height: 40px;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 5px 15px;
  display: inline-block;
  margin-right: 10px;
}

.form button {
  width: 180px;
  height: 40px;
  background-color: lightseagreen;
  color: white;
  font-weight: 600;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 5px 15px;
}

.form button:disabled {
  background-color: lightgray;
}
